<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thank You Page</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'img/bakery-logo.png' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'styles/thankyou.css' %}"
    />
  </head>
  <body>
    <div class="container">
      <h1 id="thank-you-message"> 🥳 Thank You! 🥳</h1>
      <h3 class="confirmation">Your order was placed successfully</h3>
      <p> We're located at NJIT's Robert W. Van Houten Library, see you soon!</p>
      <button class="return-home" onclick="location.href='{% url 'index' %}'">
        Return Home
      </button>
    </div>
  </body>
</html>
